<div class="card">
    <img src="https://via.placeholder.com/300" alt="Siames">
    <div class="card-content">
        <h3><%= raza %></h3>
        <p>Tamaño: <%= tamano %></p>
        <p>Pelaje: <%= pelaje %></p>
        <div class="tags">
            <%= tags  %>
                
        </div>
    </div>
</div>
