<div class="card">
    <img src="https://via.placeholder.com/300" alt="Gato Persa">
    <div class="info">
        <h3>Persa</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>
<div class="card">
    <img src="https://via.placeholder.com/300" alt="Maine Coon">
    <div class="info">
        <h3>Maine Coon</h3>
    </div>
</div>